/*=============================
Universal
=============================*/
/* Headers and P */
body p, h1, h2, h3, h4 {
    color: white;
}

/* Green button */
.green_button {
    background: #3eb405;
    color: white;
    padding: 15px 40px;
    border: 1px solid black;
    transition: .4s;
}

/* Green button hover */
.green_button:hover {
    background: white;
    color: black;
}


/*=============================
Navbar
=============================*/
/* NavBar */
nav {
    border: none;
}

/* Entire navbar */
.container.nav-bar {
    width: 100%;
}

/* Logo container */
.title_logo {
    display:  flex;
    align-items:  center;
}


/* Logo image */
.title_logo img {
    width: 70px;
}

/* Title text */
.title_logo h3 {
    margin-bottom:  0;
    padding: 0 0 0 10px;
        color: #333 !important;
}


/* NavBar Menu */
.main-navigation {
	padding: 20px 0;
}

/* NavBar right side (menu items) */
.module-group.right {
    display:  flex;
}

/* Each menu item list item */
.main-navigation .menu > li {
    margin: 0;
}

/* Each menu item list item hyperlink */
.main-navigation .menu li a {
    background: rgb(2,117,216);
    width: 110px;
    color: white;
    text-align: center;
    margin: 0 5px;
}


/*=============================
Front Page Modules
=============================*/
/* All front page modules */
[data-customize-partial-id] {

}

/* "Who is My Way?" and "What We Do?" */
div#text-4, div#text-10 {
    /* display:  flex; */
    text-align:  center;
}

/* Text widgets within both modules */
div#text-4 .textwidget, div#text-10 .textwidget {
    padding: 5% 20%;
}

/* "Who is My Way?" module */
div#text-4 {
    background: rgb(66,66,66);
}

/* "What We Do" module */
div#text-10 {
    background: rgb(62,180,5);
}

/* "Discover More" container */
div#custom_html-10 {
    background:  #0275d8;
    clear: both;
    display: flex;
    padding: 5%;
}

/* "Discover More" text container */
.discover_more {
    display: flex;
}

/* "Discover More" individual text containers */
.discover_more div {
    width: 33.33%;
    width: calc(100% / 3);
    text-align: center;
}

/* "Discover More" images */
.discover_more img {
    width: 300px;
    padding-bottom: 10px;
}


/* Newsletter module */
div#text-6 {
    background: #3eb405;
    padding: 5% 20%;
}



/*=============================
Miscellaneous Code
=============================*/
/* Removing the search function */
.search {
    display:  none;
}

/* Removing the unremovable white space below the top slideshow */
#custom_html-6 {
    margin-bottom: -22px;   
}

/* Removal of top slideshow dots*/
#custom_html-6 .owl-dots {
    display: none;
}

/* Force the width to 100% for the services module */
div#custom_html-10 .textwidget.custom-html-widget {
    width: 100%
}