/*=============================
Universal
=============================*/







/*=============================
Navbar
=============================*/
/* NavBar */
nav {
    border: none;
}

/* Entire navbar */
.container.nav-bar {
    width: 100%;
}

/* Logo container */
.title_logo {
    display:  flex;
    align-items:  center;
}

/* Logo image */
.title_logo img {
    width: 70px;
}

/* Title text */
.title_logo h3 {
    margin-bottom:  0;
    padding: 0 0 0 10px;
}


/* NavBar Menu */
.main-navigation {
	padding: 20px 0;
}

/* NavBar right side (menu items) */
.module-group.right {
    display:  flex;
}

/* Each menu item list item */
.main-navigation .menu > li {
    margin: 0;
}

/* Each menu item list item hyperlink */
.main-navigation .menu li a {
    background: rgb(2,117,216);
    width: 80px;
    color: white;
    text-align: center;
    margin: 0 5px;
}



/*=============================
Front Page Modules
=============================*/
/* Slideshow widget */
.textwidget {
    padding-top: initial;
}

/* Slideshow container */
.white {
    background: rgba(0,0,0,0) !important;
    border-bottom: none !important;
}

/* "Who is My Way?" and "What We Do?" */
div#text-4, div#text-10 {
    /* display:  flex; */
    float:  left;
    width: 50%;
    text-align:  center;
}

/* Text widgets within both modules */
div#text-4 .textwidget, div#text-10 .textwidget {
    padding: 0 20%;
}


/* All front page modules */
[data-customize-partial-id] {

}

/* "Discover More" Container */






/*=============================
Miscellaneous Code
=============================*/
/* Removing the search function */
.search {
    display:  none;
}